<html>
  <head>
    <title>Express handlebars</title>
    <script>
      var data=unescape({{data}})
      
      result.body.hits.hits.forEach(element => {
                console.log(element._source.MessageText+ "   "+element._source.LogDate+"\n")
      });
  </script>
  </head>
  <body>
     {{name}}
<div> {{name}}</div>
<div> {{name}}</div>
<div> {{name}}</div>
  </body>
</html>






